.products-section {
    padding-top: 100px;
}

.products-section .products_btn {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

@media screen and (width <= 991px) {
    .products-section .products_btn {
        margin-top: 50px;
    }
}

@media screen and (width <=575px) {
    .products-section .card-item .card-icon {
        border-radius: 140px;
    }
    
}