.hero-section {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 825px;
    padding: 200px 0;
    z-index: -1;
    scroll-behavior: smooth;
}

.hero-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -999;
    filter: brightness(0.5);
}

.hero-section .typed-text-container {
    padding-top: 80px;
}

.hero-section .hero_type-animation {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    color: var(--white-color);
}

@media screen and (width <=991px) {
    .hero-section {
        height: 760px;
    }

    .hero-section .hero_type-animation {
        font-size: 65px;
    }
}

@media screen and (width <=425px) {

    .hero-section .hero_type-animation {
        font-size: 50px;
    }
}