.header-section {
    margin-top: 55px;
}

.header-section .navbar-main {
    background: var(--primary-color);
}

.header-section .nav-link {
    color: var(--white-color);
}

.header-section .nav-link:hover {
    color: var(--secondary-color);
}

.header-section .navbar-toggler:focus {
    box-shadow: none;
}

@media screen and (width <=991px) {
    .navbar-collapse {
        position: fixed;
        top: 48px !important;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 65%;
        height: 100vh !important;
        background-color: var(--primary-color);
        transition: all 0.3s ease-in-out !important;
    }

    .navbar-collapse.collapsing {
        left: -100%;
        transition: all 0.3s ease-in-out !important;
    }

    .navbar-collapse.show {
        left: 0;
        transition: all 0.3s ease-in-out !important;
    }

    .navbar-toggler.collapsed .navbar-collapse {
        transition: left .3s ease-in-out;
    }

    .navbar-header .navbar .navbar-nav {
        margin-top: 60px;
        line-height: 40px;
    }
}