.shop-section {
    margin-top: 100px;
}

.shop-section .card {
    border-color: var(--secondary-color);
    border-radius: 25px;
    padding: 20px 0px;
}

@media screen and (width <=767px) {
    .shop-section .card {
        width: 300px;
    }
}