.form-page {
    padding-top: 100px;
}

.form-page .order_form {
    margin-top: 96px;
}

.form-page .order_form .form-control {
    border: 1px solid var(--primary-color);
}

.form-page .order_form .form-control:focus {
    box-shadow: none;
    border: 1px solid var(--secondary-color);
}

@media screen and (width <=433px) {
    .fs-48 {
        font-size: 40px;
    }
}

@media screen and (width <=365px) {
    .fs-48 {
        font-size: 33px;
    }
}