@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: "cera pro";
  src: url(/src/assets/fonts/CeraPro-Regular.ttf) format("truetype");
}

:root {
  --primary-color: #343580;
  --secondary-color: #EAB33A;
  --white-color: #fff;
  --black-color: #000;
}

body {
  font-family: "cera pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.black {
  color: var(--black-color);
}

.white {
  color: var(--white-color) !important;
}

.btn-w-108 {
  width: 108px;
  padding: 8px;
}

.btn-w-128 {
  width: 128px;
  padding: 10px;
}

.btn-w-180 {
  width: 180px;
  padding: 10px;
}

.btn-w-228 {
  width: 228px;
  padding: 15px;
}

.btn {
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--white-color) !important;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  color: var(--black-color);
  letter-spacing: 1px;
}

.btn:focus,
.btn:active {
  box-shadow: none;
}

.section-heading {
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
}

.text-heading {
  font-size: 24px;
  line-height: 25px;
}

.text-body {
  font-size: 16px;
  line-height: 23px;
}

.rd-50 {
  border-radius: 100px;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.lh-18 {
  line-height: 18px;
}

.lh-20 {
  line-height: 20px;
}

.lh-30 {
  line-height: 30px;
}

.lh-35 {
  line-height: 35px;
}

.lh-50 {
  line-height: 50px;
}

.lh-70 {
  line-height: 70px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-34 {
  font-size: 34px;
}

.fs-48 {
  font-size: 48px;
}

.fs-60 {
  font-size: 60px;
}

.fs-62 {
  font-size: 62px;
}

.fs-96 {
  font-size: 96px;
}